[Desktop Entry]
Name=Rare
Type=Application
Categories=Games;Multimedia;
Icon=rare
Exec=rare
Comment=A GUI for legendary, an open source replacement for Epic Games Launcher
Terminal=false
StartupWMClass=rare
Keywords=epic;games;launcher;legendary;
