setuptools-scm
requests < 3.0
PySide6-Essentials
QtAwesome
legendary-gl @ https://github.com/derrod/legendary/archive/3963382b3f33116154399be5dd2d2913336a1f0e.zip
orjson
vdf
pywin32 ; platform_system == "Windows"
pypresence
