# Python bytecode and cache
*.pyc
*.pyo
__pycache__/


# Packaging and distribution
*.egg-info/
*.tar.gz
/.eggs
/build/
/dist/
/deb_dist/


# Nuitka build artifacts
rare/_version.py
/rare.build/
/rare.dist/
/rare.bin/
/rare.cmd/
/rare.exe


# Virtual environments
/venv*
/build_venv/


# Test files and folders
/test.py
/test_files/


# IDE and editor configuration
/.idea/
/.vscode/
*~


# System-specific folders
/System Volume Information/
/AppDir/
/appimage-builder-cache/


# Dependency lock files
/poetry.lock
