requests<3.0
PyQt5
QtAwesome
setuptools
legendary-gl>=0.20.34; platform_system != "Windows" or platform_system != "Darwin"
legendary-gl @ git+https://github.com/derrod/legendary@96e07ff ; platform_system == "Windows" or platform_system == "Darwin"
orjson
vdf
pywin32; platform_system == "Windows"
# pywebview with QtWebEngine backend has issues with EGS login form, so use GTK
pywebview[gtk]; platform_system == "Linux"
pywebview[gtk]; platform_system == "FreeBSD"
pythonnet; platform_system == "Windows"
pywebview; platform_system == "Windows"
pyobjc; platform_system == "Darwin"
pywebview; platform_system == "Darwin"
