# pywebview with QtWebEngine backend has issues with EGS login form, so use GTK
pywebview[gtk]; platform_system == "Linux"
pywebview[gtk]; platform_system == "FreeBSD"
pythonnet; platform_system == "Windows"
pywebview; platform_system == "Windows"
pyobjc; platform_system == "Darwin"
pywebview; platform_system == "Darwin"
