ruff
build
uv-build
installer
setuptools-scm
requests < 3.0
QtAwesome
legendary-gl @ git+https://github.com/RareDevs/legendary@828850273f47432c086d758cd3391047d6dd8ddf
orjson
vdf @ git+https://github.com/solsticegamestudios/vdf@f47c683c1330f0fcddec034fd49c26e41acd63f2
pypresence
