name: _job_publish

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      file1:
        required: true
        type: string
      file2:
        type: string
        default: ""
      file3:
        type: string
        default: ""
      file4:
        type: string
        default: ""

jobs:
  release:
    name: Publish
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - file: ${{ inputs.file1 }}
          - file: ${{ inputs.file2 }}
          - file: ${{ inputs.file3 }}
          - file: ${{ inputs.file4 }}
    steps:
    - name: Download ${{ matrix.file }} from artifacts
      uses: actions/download-artifact@v7
      if: ${{ matrix.file != '' }}
      with:
        name: ${{ matrix.file }}
    - name: Upload ${{ matrix.file }} to release
      if: ${{ matrix.file != '' }}
      shell: bash
      run: >-
        gh
        --repo "${{ github.server_url }}/${{ github.repository }}"
        release upload
        ${{ inputs.version }}
        ${{ matrix.file }}
        --clobber
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
