name: _job_cx-freeze-appimage

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            pyarch: x64
            os: ubuntu-22.04
    name: Package ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: '3.12'
          check-latest: true
          architecture: ${{ matrix.pyarch }}
      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install patchelf fakeroot
          pip3 install --upgrade "git+https://github.com/marcelotduarte/cx_Freeze.git@refs/pull/3166/head"
          pip3 install --upgrade ruff
      - name: Install target dependencies
        run: |
          pip3 install -r misc/requirements.in
      - name: Prepare
        shell: bash
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{ inputs.version }}
        run: |
          git fetch origin +refs/tags/*:refs/tags/*
          ./tools/ui2py.sh --force
          ./tools/qrc2py.sh --force
          ./tools/ts2qm.py
          python3 -m setuptools_scm --force-write-version-files
      - name: Build
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{ inputs.version }}
        run: |
          python3 freeze.py bdist_appimage --updateinformation="gh-releases-zsync|RareDevs|Rare|latest-all|Rare*-${{ matrix.arch }}.AppImage.zsync"
          mv dist/Rare-*.AppImage Rare-${{ inputs.version }}-${{ matrix.arch }}.AppImage
          mv dist/Rare-*.AppImage.zsync Rare-${{ inputs.version }}-${{ matrix.arch }}.AppImage.zsync

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Rare-${{ inputs.version }}-${{ matrix.arch }}.AppImage
          path: Rare-${{ inputs.version }}-${{ matrix.arch }}.AppImage

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Rare-${{ inputs.version }}-${{ matrix.arch }}.AppImage.zsync
          path: Rare-${{ inputs.version }}-${{ matrix.arch }}.AppImage.zsync
