name: job_cx-freeze-msi

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    name: Package
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: '3.12'
          check-latest: true
          architecture: x64
      - name: Install build dependencies
        run: |
          pip3 install --upgrade cx_freeze
      - name: Install target dependencies
        run: |
          pip3 install -r misc/requirements.in
      - name: Generate version information
        run: |
          pip3 install setuptools-scm
          python3 -m setuptools_scm --force-write-version-files
      - name: Build
        run: |
          python3 freeze.py bdist_msi
          mv dist/*.msi Rare.msi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Rare-${{ inputs.version }}.msi
          path: Rare.msi
