name: job_nuitka-win

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    name: Package
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: '3.12'
          check-latest: true
          architecture: x64
      - name: Install build dependencies
        run: pip3 install nuitka
      - name: Install target dependencies
        run: |
          pip3 install -r misc/requirements.in
      - name: Generate version information
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{ inputs.version }}
        run: |
         python3 -m setuptools_scm --force-write-version-files
      - name: Build
        run: >-
          python -m nuitka
          --assume-yes-for-downloads
          --show-scons
          --clang
          --lto=no
          --jobs=4
          --static-libpython=no
          --standalone
          --enable-plugin=anti-bloat
          --enable-plugin=pyside6
          --show-modules
          --show-anti-bloat-changes
          --follow-stdlib
          --follow-imports
          --nofollow-import-to="*.tests"
          --nofollow-import-to="*.distutils"
          --nofollow-import-to="distutils"
          --nofollow-import-to="unittest"
          --nofollow-import-to="pydoc"
          --nofollow-import-to="tkinter"
          --nofollow-import-to="test"
          --prefer-source-code
          --include-package=pypresence
          --include-package-data=qtawesome
          --include-data-dir=rare\resources\images\=rare\resources\images\
          --include-data-files=rare\resources\languages\rare_*.qm=rare\resources\languages\
          --output-filename=Rare.exe
          --file-description=Rare.exe
          --company-name=RareDevs
          --product-name=Rare
          --file-version=${{ inputs.version }}
          --product-version=${{ inputs.version }}
          --windows-console-mode=disable
          --windows-icon-from-ico=rare\resources\images\Rare.ico
          rare
      - name: Compress
        run: |
          mv rare.dist Rare-${{ inputs.version }}
          python -c "import shutil; shutil.make_archive('Rare-${{ inputs.version }}', 'zip', '.', 'Rare-${{ inputs.version }}')"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Rare-${{ inputs.version }}-windows.zip
          path: Rare-${{ inputs.version }}.zip
